.control-label {
    font-size: 20px;
}

#percentage {
    width: 100px;
}

.estimate {
    color: #ff9c00;
}

.unit {
    font-size: 25px;
    text-align: center;
}

.user-input {
    max-width: 80%;
}

.timepicker {
    max-width: 150px;
}